.container{
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('https://www.wallpaperflare.com/static/371/514/459/digital-art-aurorae-trees-blue-wallpaper.jpg');
  background-size: cover;
  justify-content: center;
}
.content{
  width: 80vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5)
}

.yearDisp{
  color:gold;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top:5vh;
  margin-bottom: 5vh;
}

#yearText{
  margin-bottom:3vh;
  font-size: 8vmin;
}

.outputWindow{
  border-top: .5vh solid black;
  height: 28vh;
  display: flex;
  flex-flow: column;
  align-items: center;
}
#factButton{
  margin-top:2%;
}
#factDisplay{
  margin-top: 2%;
  color: white;
  font-size: 4vmin;
  width: 70vw;
  text-align: center;
}
#mainLearnMoreButton{
  background-color: rgb(6, 180, 6);
  color: black;
  text-align: center;
  text-decoration: none;
  align-items: center;
  font-size: 2vmin;
  margin-left: 30vw;
  margin-right: 30vw;
  margin-bottom: 5vh;
  display: flex;
  flex-flow: column;
  align-items: center;
}
#learnMoreButton{
  background-color: rgb(6, 180, 6);
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vmin;
  word-wrap: break-word;
  min-width:12vw;
}
#historyListTitle{
  text-align: center;
  color: white;
  margin-bottom: 2vh;
}
.taskText{
  margin-left: 1vw;
}
.listItem{
  margin-top: 0.5vh;
  min-height: 5vh;
  width: 100%;
  border: .1vh solid black;
  background: rgb(255, 155, 0);
  display: flex;
  justify-content: left;
  float: left;
  border-radius: 3vw;
  overflow: auto;
}
.theList{
  width: 60vw;
  margin-left: 10vw;
  height: 31vh;
  overflow-x: hidden;
  overflow-y: auto;
}